Communications/Web References/PCWS(Local)/NoticesEvents.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://pcws.scar.hull.ac.uk/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://pcws.scar.hull.ac.uk/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">PCWS Pocket Campus Web Service pushes out information relating to Campus Notices and Events</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://pcws.scar.hull.ac.uk/">
      <s:element name="ListCategorys">
        <s:complexType />
      </s:element>
      <s:element name="ListCategorysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListCategorysResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListNotices">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Max" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Category" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListNoticesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListNoticesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Notice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NoticeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NoticeResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListEvents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Max" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Category" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListEventsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListEventsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Event">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EventResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EventResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Feeds">
        <s:complexType />
      </s:element>
      <s:element name="FeedsResponse">
        <s:complexType />
      </s:element>
      <s:element name="FeedsMedia">
        <s:complexType />
      </s:element>
      <s:element name="FeedsMediaResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListCategorysSoapIn">
    <wsdl:part name="parameters" element="tns:ListCategorys" />
  </wsdl:message>
  <wsdl:message name="ListCategorysSoapOut">
    <wsdl:part name="parameters" element="tns:ListCategorysResponse" />
  </wsdl:message>
  <wsdl:message name="ListNoticesSoapIn">
    <wsdl:part name="parameters" element="tns:ListNotices" />
  </wsdl:message>
  <wsdl:message name="ListNoticesSoapOut">
    <wsdl:part name="parameters" element="tns:ListNoticesResponse" />
  </wsdl:message>
  <wsdl:message name="NoticeSoapIn">
    <wsdl:part name="parameters" element="tns:Notice" />
  </wsdl:message>
  <wsdl:message name="NoticeSoapOut">
    <wsdl:part name="parameters" element="tns:NoticeResponse" />
  </wsdl:message>
  <wsdl:message name="ListEventsSoapIn">
    <wsdl:part name="parameters" element="tns:ListEvents" />
  </wsdl:message>
  <wsdl:message name="ListEventsSoapOut">
    <wsdl:part name="parameters" element="tns:ListEventsResponse" />
  </wsdl:message>
  <wsdl:message name="EventSoapIn">
    <wsdl:part name="parameters" element="tns:Event" />
  </wsdl:message>
  <wsdl:message name="EventSoapOut">
    <wsdl:part name="parameters" element="tns:EventResponse" />
  </wsdl:message>
  <wsdl:message name="FeedsSoapIn">
    <wsdl:part name="parameters" element="tns:Feeds" />
  </wsdl:message>
  <wsdl:message name="FeedsSoapOut">
    <wsdl:part name="parameters" element="tns:FeedsResponse" />
  </wsdl:message>
  <wsdl:message name="FeedsMediaSoapIn">
    <wsdl:part name="parameters" element="tns:FeedsMedia" />
  </wsdl:message>
  <wsdl:message name="FeedsMediaSoapOut">
    <wsdl:part name="parameters" element="tns:FeedsMediaResponse" />
  </wsdl:message>
  <wsdl:message name="ListCategorysHttpGetIn" />
  <wsdl:message name="ListCategorysHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ListNoticesHttpGetIn">
    <wsdl:part name="Max" type="s:string" />
    <wsdl:part name="Category" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListNoticesHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="NoticeHttpGetIn">
    <wsdl:part name="ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="NoticeHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ListEventsHttpGetIn">
    <wsdl:part name="Max" type="s:string" />
    <wsdl:part name="Category" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListEventsHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="EventHttpGetIn">
    <wsdl:part name="ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EventHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="FeedsHttpGetIn" />
  <wsdl:message name="FeedsHttpGetOut" />
  <wsdl:message name="FeedsMediaHttpGetIn" />
  <wsdl:message name="FeedsMediaHttpGetOut" />
  <wsdl:message name="ListCategorysHttpPostIn" />
  <wsdl:message name="ListCategorysHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ListNoticesHttpPostIn">
    <wsdl:part name="Max" type="s:string" />
    <wsdl:part name="Category" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListNoticesHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="NoticeHttpPostIn">
    <wsdl:part name="ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="NoticeHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ListEventsHttpPostIn">
    <wsdl:part name="Max" type="s:string" />
    <wsdl:part name="Category" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListEventsHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="EventHttpPostIn">
    <wsdl:part name="ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EventHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="FeedsHttpPostIn" />
  <wsdl:message name="FeedsHttpPostOut" />
  <wsdl:message name="FeedsMediaHttpPostIn" />
  <wsdl:message name="FeedsMediaHttpPostOut" />
  <wsdl:portType name="Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_Notices_x0020__x0026__x0020_EventsSoap">
    <wsdl:operation name="ListCategorys">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns Notice and Event Categorys</wsdl:documentation>
      <wsdl:input message="tns:ListCategorysSoapIn" />
      <wsdl:output message="tns:ListCategorysSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListNotices">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns Notices as XML File Limited by Number (0 = All) and Category (0 = All)</wsdl:documentation>
      <wsdl:input message="tns:ListNoticesSoapIn" />
      <wsdl:output message="tns:ListNoticesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Notice">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns Notice by ID</wsdl:documentation>
      <wsdl:input message="tns:NoticeSoapIn" />
      <wsdl:output message="tns:NoticeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListEvents">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns Events as XML File Limited by Number (0 = All) and Category (0 = All)</wsdl:documentation>
      <wsdl:input message="tns:ListEventsSoapIn" />
      <wsdl:output message="tns:ListEventsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Event">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns Events by ID</wsdl:documentation>
      <wsdl:input message="tns:EventSoapIn" />
      <wsdl:output message="tns:EventSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Feeds">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">UpdateFeeds</wsdl:documentation>
      <wsdl:input message="tns:FeedsSoapIn" />
      <wsdl:output message="tns:FeedsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FeedsMedia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">UpdateFeeds</wsdl:documentation>
      <wsdl:input message="tns:FeedsMediaSoapIn" />
      <wsdl:output message="tns:FeedsMediaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_Notices_x0020__x0026__x0020_EventsHttpGet">
    <wsdl:operation name="ListCategorys">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns Notice and Event Categorys</wsdl:documentation>
      <wsdl:input message="tns:ListCategorysHttpGetIn" />
      <wsdl:output message="tns:ListCategorysHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ListNotices">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns Notices as XML File Limited by Number (0 = All) and Category (0 = All)</wsdl:documentation>
      <wsdl:input message="tns:ListNoticesHttpGetIn" />
      <wsdl:output message="tns:ListNoticesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Notice">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns Notice by ID</wsdl:documentation>
      <wsdl:input message="tns:NoticeHttpGetIn" />
      <wsdl:output message="tns:NoticeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ListEvents">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns Events as XML File Limited by Number (0 = All) and Category (0 = All)</wsdl:documentation>
      <wsdl:input message="tns:ListEventsHttpGetIn" />
      <wsdl:output message="tns:ListEventsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Event">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns Events by ID</wsdl:documentation>
      <wsdl:input message="tns:EventHttpGetIn" />
      <wsdl:output message="tns:EventHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Feeds">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">UpdateFeeds</wsdl:documentation>
      <wsdl:input message="tns:FeedsHttpGetIn" />
      <wsdl:output message="tns:FeedsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="FeedsMedia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">UpdateFeeds</wsdl:documentation>
      <wsdl:input message="tns:FeedsMediaHttpGetIn" />
      <wsdl:output message="tns:FeedsMediaHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_Notices_x0020__x0026__x0020_EventsHttpPost">
    <wsdl:operation name="ListCategorys">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns Notice and Event Categorys</wsdl:documentation>
      <wsdl:input message="tns:ListCategorysHttpPostIn" />
      <wsdl:output message="tns:ListCategorysHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ListNotices">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns Notices as XML File Limited by Number (0 = All) and Category (0 = All)</wsdl:documentation>
      <wsdl:input message="tns:ListNoticesHttpPostIn" />
      <wsdl:output message="tns:ListNoticesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Notice">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns Notice by ID</wsdl:documentation>
      <wsdl:input message="tns:NoticeHttpPostIn" />
      <wsdl:output message="tns:NoticeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ListEvents">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns Events as XML File Limited by Number (0 = All) and Category (0 = All)</wsdl:documentation>
      <wsdl:input message="tns:ListEventsHttpPostIn" />
      <wsdl:output message="tns:ListEventsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Event">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns Events by ID</wsdl:documentation>
      <wsdl:input message="tns:EventHttpPostIn" />
      <wsdl:output message="tns:EventHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Feeds">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">UpdateFeeds</wsdl:documentation>
      <wsdl:input message="tns:FeedsHttpPostIn" />
      <wsdl:output message="tns:FeedsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FeedsMedia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">UpdateFeeds</wsdl:documentation>
      <wsdl:input message="tns:FeedsMediaHttpPostIn" />
      <wsdl:output message="tns:FeedsMediaHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_Notices_x0020__x0026__x0020_EventsSoap" type="tns:Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_Notices_x0020__x0026__x0020_EventsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListCategorys">
      <soap:operation soapAction="http://pcws.scar.hull.ac.uk/ListCategorys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListNotices">
      <soap:operation soapAction="http://pcws.scar.hull.ac.uk/ListNotices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Notice">
      <soap:operation soapAction="http://pcws.scar.hull.ac.uk/Notice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListEvents">
      <soap:operation soapAction="http://pcws.scar.hull.ac.uk/ListEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Event">
      <soap:operation soapAction="http://pcws.scar.hull.ac.uk/Event" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Feeds">
      <soap:operation soapAction="http://pcws.scar.hull.ac.uk/Feeds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FeedsMedia">
      <soap:operation soapAction="http://pcws.scar.hull.ac.uk/FeedsMedia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_Notices_x0020__x0026__x0020_EventsSoap12" type="tns:Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_Notices_x0020__x0026__x0020_EventsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListCategorys">
      <soap12:operation soapAction="http://pcws.scar.hull.ac.uk/ListCategorys" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListNotices">
      <soap12:operation soapAction="http://pcws.scar.hull.ac.uk/ListNotices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Notice">
      <soap12:operation soapAction="http://pcws.scar.hull.ac.uk/Notice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListEvents">
      <soap12:operation soapAction="http://pcws.scar.hull.ac.uk/ListEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Event">
      <soap12:operation soapAction="http://pcws.scar.hull.ac.uk/Event" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Feeds">
      <soap12:operation soapAction="http://pcws.scar.hull.ac.uk/Feeds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FeedsMedia">
      <soap12:operation soapAction="http://pcws.scar.hull.ac.uk/FeedsMedia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_Notices_x0020__x0026__x0020_EventsHttpGet" type="tns:Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_Notices_x0020__x0026__x0020_EventsHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ListCategorys">
      <http:operation location="/ListCategorys" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListNotices">
      <http:operation location="/ListNotices" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Notice">
      <http:operation location="/Notice" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListEvents">
      <http:operation location="/ListEvents" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Event">
      <http:operation location="/Event" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Feeds">
      <http:operation location="/Feeds" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="FeedsMedia">
      <http:operation location="/FeedsMedia" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_Notices_x0020__x0026__x0020_EventsHttpPost" type="tns:Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_Notices_x0020__x0026__x0020_EventsHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ListCategorys">
      <http:operation location="/ListCategorys" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListNotices">
      <http:operation location="/ListNotices" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Notice">
      <http:operation location="/Notice" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListEvents">
      <http:operation location="/ListEvents" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Event">
      <http:operation location="/Event" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Feeds">
      <http:operation location="/Feeds" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="FeedsMedia">
      <http:operation location="/FeedsMedia" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_Notices_x0020__x0026__x0020_Events">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">PCWS Pocket Campus Web Service pushes out information relating to Campus Notices and Events</wsdl:documentation>
    <wsdl:port name="Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_Notices_x0020__x0026__x0020_EventsSoap" binding="tns:Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_Notices_x0020__x0026__x0020_EventsSoap">
      <soap:address location="http://localhost/PCWS/NoticesEvents.asmx" />
    </wsdl:port>
    <wsdl:port name="Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_Notices_x0020__x0026__x0020_EventsSoap12" binding="tns:Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_Notices_x0020__x0026__x0020_EventsSoap12">
      <soap12:address location="http://localhost/PCWS/NoticesEvents.asmx" />
    </wsdl:port>
    <wsdl:port name="Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_Notices_x0020__x0026__x0020_EventsHttpGet" binding="tns:Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_Notices_x0020__x0026__x0020_EventsHttpGet">
      <http:address location="http://localhost/PCWS/NoticesEvents.asmx" />
    </wsdl:port>
    <wsdl:port name="Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_Notices_x0020__x0026__x0020_EventsHttpPost" binding="tns:Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_Notices_x0020__x0026__x0020_EventsHttpPost">
      <http:address location="http://localhost/PCWS/NoticesEvents.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>