PCWSControl/Web References/PCWS/Communications.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://pcws.scar.hull.ac.uk/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://pcws.scar.hull.ac.uk/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">PCWS Pocket Campus Web Service pushes out information relating to Communications</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://pcws.scar.hull.ac.uk/">
      <s:element name="Feeds">
        <s:complexType />
      </s:element>
      <s:element name="FeedsResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FeedsSoapIn">
    <wsdl:part name="parameters" element="tns:Feeds" />
  </wsdl:message>
  <wsdl:message name="FeedsSoapOut">
    <wsdl:part name="parameters" element="tns:FeedsResponse" />
  </wsdl:message>
  <wsdl:message name="FeedsHttpGetIn" />
  <wsdl:message name="FeedsHttpGetOut" />
  <wsdl:message name="FeedsHttpPostIn" />
  <wsdl:message name="FeedsHttpPostOut" />
  <wsdl:portType name="Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_CommunicationsSoap">
    <wsdl:operation name="Feeds">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Updates all XML Feed Files</wsdl:documentation>
      <wsdl:input message="tns:FeedsSoapIn" />
      <wsdl:output message="tns:FeedsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_CommunicationsHttpGet">
    <wsdl:operation name="Feeds">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Updates all XML Feed Files</wsdl:documentation>
      <wsdl:input message="tns:FeedsHttpGetIn" />
      <wsdl:output message="tns:FeedsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_CommunicationsHttpPost">
    <wsdl:operation name="Feeds">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Updates all XML Feed Files</wsdl:documentation>
      <wsdl:input message="tns:FeedsHttpPostIn" />
      <wsdl:output message="tns:FeedsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_CommunicationsSoap" type="tns:Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_CommunicationsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Feeds">
      <soap:operation soapAction="http://pcws.scar.hull.ac.uk/Feeds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_CommunicationsSoap12" type="tns:Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_CommunicationsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Feeds">
      <soap12:operation soapAction="http://pcws.scar.hull.ac.uk/Feeds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_CommunicationsHttpGet" type="tns:Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_CommunicationsHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Feeds">
      <http:operation location="/Feeds" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_CommunicationsHttpPost" type="tns:Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_CommunicationsHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Feeds">
      <http:operation location="/Feeds" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_Communications">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">PCWS Pocket Campus Web Service pushes out information relating to Communications</wsdl:documentation>
    <wsdl:port name="Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_CommunicationsSoap" binding="tns:Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_CommunicationsSoap">
      <soap:address location="http://pcws.scar.hull.ac.uk/Communications.asmx" />
    </wsdl:port>
    <wsdl:port name="Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_CommunicationsSoap12" binding="tns:Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_CommunicationsSoap12">
      <soap12:address location="http://pcws.scar.hull.ac.uk/Communications.asmx" />
    </wsdl:port>
    <wsdl:port name="Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_CommunicationsHttpGet" binding="tns:Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_CommunicationsHttpGet">
      <http:address location="http://pcws.scar.hull.ac.uk/Communications.asmx" />
    </wsdl:port>
    <wsdl:port name="Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_CommunicationsHttpPost" binding="tns:Pocket_x0020_Campus_x0020_Web_x0020_Services_x0020_-_x0020_CommunicationsHttpPost">
      <http:address location="http://pcws.scar.hull.ac.uk/Communications.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>